nav {
  margin: 0px auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  background-color: #fff;
  height: 8vh;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0px;
  z-index: 10;
}
nav > a {
  text-decoration: none;
  color: #b38a67;
  font-family: "Quicksand", sans-serif;
}
nav > h2 {
  cursor: pointer;
  background: transparent;
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
  }
}
