.quiz-container {
  height: 100vh;
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz {
  background-color: #f6f6f5;
  width: 70%;
  min-height: 60vh;
  border-radius: 15px;
  text-align: center;
  padding: 30px 20px;
  box-shadow: 4px 10px 5px #ddd;
}
.quiz > * {
  margin-bottom: 15px;
}
.question-number {
  font-family: "Poppins", serif;
  font-weight: 800;
}
#view-answer,
#nextBtn,
#prevBtn {
  font-size: 16px;
  padding: 15px;
  width: 60px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  border: none;
  outline: none;
  background-color: #ffffff;
  border-radius: 10px;
}
#view-answer,
#finish {
  width: 200px;
  background-color: transparent;
  border: 1px solid #ddd;
  box-shadow: 2px 4px 5px #ddd;
  transition-property: background-color;
  transition-duration: 0.5s;
  transition-timing-function: ease-in;
}
#view-answer:hover,
#finish:hover {
  background-color: #f7c3a4;
}
#finish {
  padding: 10px 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  text-decoration: none;
  color: red;
  font-family: "Poppins", sans-serif;
}
.quests > * {
  margin-bottom: 15px;
}
.eye {
  position: relative;
  bottom: -7px;
}
.question {
  font-family: "Quicksand", sans-serif;
  font-weight: 800;
  margin-bottom: 80px;
  color: #8b654d;
}
.answer {
  font-family: "PT Serif", serif;
}
.btns {
  display: flex;
  flex-direction: row;
  margin-top: 80px;
  width: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 500px) {
  .quiz {
    width: 90%;
  }
}
